@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #87bc47;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
    border-radius: 700px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 0.85rem;
}

nav ul li a:hover, .active {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}

.red-line {
    color: #e34d3d;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-container {
    padding: 60px 10%;
    background-color: #fcfcfc;
}

.contact-header {
    margin-bottom: 40px;
    text-align: left;
}

/* Използваме Flexbox за двете колони */
.contact-wrapper {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.contact-info {
    flex: 1;
}

.contact-map {
    flex: 1.2;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Стил на инфо кутията */
.info-box {
    margin-bottom: 30px;
}

.info-box h3 {
    margin-bottom: 15px;
    color: #222;
}

.info-box p {
    margin-bottom: 10px;
    color: #444;
    font-size: 1rem;
}

/* Стил на формата */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: inherit;
}

.button {
    background-color: #e34d3d;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
    border-radius: 25rem;
}

.button:hover {
    background-color: #75b400;
    box-shadow: 0 1px 5px black;
    transform: scale(1.019);
}

footer {
    background-color: #87bc47;
    color: white;
    padding: 30px 5%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .services-grid { flex-direction: column; height: auto; }
    header { flex-direction: column; }
    nav ul { margin-top: 15px; }
}