@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #87bc47;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
    border-radius: 700px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 0.85rem;
}

nav ul li a:hover, .active {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}

.contents {
    display: flex;
    height: 80vh;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    transition: transform 0.3s;
    border-left:1px solid #333;
}

.box-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.box p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.white { background-color: #ffffff; color: #333; }
.green { background-color: #579d30; color: #ffffff; }
.red   { background-color: #e34d3d; color: #ffffff; }

.box-link {
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #333;
    padding: 10px 20px;
    color: #333;
}
.box-link:hover {
    flex: 0.09;
    background-color: #e8cd55;
}

footer {
    background-color: #87bc47;
    color: white;
    padding: 30px 5%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .services-grid { flex-direction: column; height: auto; }
    header { flex-direction: column; }
    nav ul { margin-top: 15px; }
}
