@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #87bc47;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 60px;
    border-radius: 700px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 0.85rem;
}

nav ul li a:hover, .active {
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}

.red-line {
    color: #e34d3d;
    font-weight: bold;
    font-size: 0.9rem;
    display:flex;
    align-items: center;
    gap: 10px;
}

.systems-container {
    padding: 60px 10%;
    background-color: #fcfcfc;
}

.systems-intro {
    margin-bottom: 20px;
}


.systems {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.system-box {
    background: white;
    width: 30%;
    min-width: 280px;
    padding: 40px 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.system-box h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    height: 3rem;
}

.system-box p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button {
    background-color: #e34d3d;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 0.85rem;
    margin-top: auto;
}

.table-section {
    margin-top: 50px;
}

.table-section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}

.specs {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.specs th, .specs td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.specs th {
    background-color: #7aba2e;
    color: white;
}

.specs tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #87bc47;
    color: white;
    padding: 30px 5%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .services-grid { flex-direction: column; height: auto; }
    header { flex-direction: column; }
    nav ul { margin-top: 15px; }
}